*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.vs
.vs/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
obj/
obj

# Visual Studio 2015
.vs/
vs/

# Upload Folder
#Uploads
#Files
!Files/PersonProfile3/user_pdf.pdf
!Files/PersonProfile3/user_pdf_data.xml
Files/PersonProfile3/
Uploads/XtraReportTwo.pdf
Files/FileManager/
