<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Server</name>
    </assembly>
    <members>
        <member name="M:Server.Controllers.LawsController.GetAll">
            <summary>
            Laws get all data
            </summary>
            <remarks>
            Laws get all data
            </remarks>
            <returns>Return all data</returns>
            <response code="200">Returns all data</response>
            <response code="500">Error Occurred</response>  
        </member>
        <member name="M:Server.Controllers.LawsController.GetById(System.Guid)">
            <summary>
            Laws get By Id
            </summary>
            <remarks>
            Laws get By Id
            </remarks>
            <returns>Return all data</returns>
            <response code="200">Returns the item</response>
            <response code="500">Error Occurred</response>  
        </member>
        <member name="M:Server.Controllers.LawsController.Create(Todo.Models.LawsEntity)">
            <summary>
            Laws create item
            </summary>
            <remarks>
            Laws create item
            </remarks>
            <returns>Return create item</returns>
            <response code="200">Returns the item</response>
            <response code="500">Error Occurred</response>  
        </member>
        <member name="M:Server.Controllers.LawsController.Update(System.Guid,Todo.Models.LawsEntity)">
            <summary>
            Laws Update item
            </summary>
            <remarks>
            Laws Update item
            </remarks>
            <returns>Return create item</returns>
            <response code="200">Returns the item</response>
            <response code="500">Error Occurred</response>  
        </member>
        <member name="M:Server.Controllers.LawsController.Delete(System.Guid)">
            <summary>
            Laws Update item
            </summary>
            <remarks>
            Laws Update item
            </remarks>
            <returns>Return create item</returns>
            <response code="200">Returns the item</response>
            <response code="500">Error Occurred</response>  
        </member>
    </members>
</doc>
