.top-nav{
  width: 100%;
  height: 50px;
  background-color:white;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DEDEDE;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.left-side{
  position: fixed;
  height: 100%;
  width: 230px;
  overflow: hidden;
  background-color:white;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}

.icon-bar{
  padding-top: 13px;
  position: relative;
  left: 220px;
  text-align: left;
}

.content{
  margin-left: 230px;
  margin-top: 20px;
}

/* content and left side on click */
.left-side.clickToMD{
  position: fixed;
  height: 100%;
  width: 50px;
  overflow: hidden;
  background-color:white;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}
.left-side.clickToLG{
  position: fixed;
  height: 100%;
  width: 230px;
  overflow: hidden;
  background-color:white;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
}
.content.clickToMD{
  margin-left: 50px;
  margin-top: 20px;
}
/* ------------------------------ */

@media screen and (max-width: 991px) {
  .left-side{
    position: fixed;
    height: 100%;
    width: 50px;
    overflow: hidden;
    background-color:white;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
  }
  .content{
    margin-left: 50px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .left-side{
    position: fixed;
    height: 0px;
    width: 0px;
    overflow: hidden;
    background-color:white;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
  }
  .icon-bar{
    padding-top: 13px;
    position: relative;
    left: 18px;
    text-align: left;
  }
  .content{
    margin-left: 0px;
    margin-top: 15px;
  }
}