.top-nav{
  width: 100%;
  height: 50px;
  background-color:white;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DEDEDE;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.left-side{
  position: fixed;
  height: 100%;
  width: 230px;
  overflow: hidden;
  background-color:white;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}

.icon-bar{
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.icon-bar-icon{
  font-size: 20px; 
  color: #99abb4; 
  cursor:pointer;
}
.icon-bar-icon:hover{
  font-size: 22px; 
  color: #639ab6; 
  cursor:pointer;
}
.icon-bar-icon.user{
  margin-right: 20px;
}
.icon-bar-icon.bars{
  margin-left: 220px;
}

.user-menu{
  position: absolute;
  right: 18px;
  top: 65px;
  z-index: 99;
  padding: 10px;
  border-radius: 5px;
  /* border-bottom-color: #DEDEDE;
  border-style: solid;
  border-width: 1px; */
  background-color: rgb(255, 255, 255);
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}
.user-menu.none{
  display: none;
}
.user-menu.unset{
  display: unset;
}

.content{
  margin-left: 230px;
  margin-top: 20px;
}

/* content and left side on click */
.left-side.clickToMD{
  position: fixed;
  height: 100%;
  width: 50px;
  overflow: hidden;
  background-color:white;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}
.left-side.clickToLG{
  position: fixed;
  height: 100%;
  width: 230px;
  overflow: hidden;
  background-color:white;
  -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}
.content.clickToMD{
  margin-left: 50px;
  margin-top: 20px;
}
/* ------------------------------ */

.link{
  cursor:pointer;
  border-radius: 4px;
  border-color: none;
  margin-right: 7px;
  margin-left: 7px;
  height: 40px;
  padding-top: 8px;
}
.linkText.unset{
  display: unset;
}
.linkText.none{
  display: none;
}
.link:hover{
  background:#cfdae0;    
}

.linkUserMenu{
  cursor:pointer;
  border-radius: 4px;
  border-color: none;
  /* margin-right: 7px;
  margin-left: 7px; */
  height: 35px;
  padding-top: 8px;
}
.linkUserMenu:hover{
  background:#cfdae0;    
}

@media screen and (max-width: 991px) {
  .left-side{
    position: fixed;
    height: 100%;
    width: 50px;
    overflow: hidden;
    background-color:white;
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
  }
  .content{
    margin-left: 50px;
    margin-top: 20px;
  }
  .linkText{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .left-side{
    position: fixed;
    height: 0px;
    width: 0px;
    overflow: hidden;
    background-color:white;
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
  }
  .icon-bar-icon.bars{
    margin-left: 18px;
  }
  .content{
    margin-left: 0px;
    margin-top: 15px;
  }
  .linkText{
    display: unset;
  }
}